.formulario {
    grid-area: formulario;
    padding: 2rem;
    text-align: center;

    @media (max-width: 768px) {
        height: 100%;
    }

    #comment {
        max-width: 100%;
    }

    .formulario__titulo{
        font-size: 2rem;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    .formulario__contenedorGral {
        margin: 1rem;

        @media (max-width: 768px) {
            margin: 0.5rem;
        }
    }

    .formulario__contenedorInd {
        margin: 1rem;

        @media (max-width: 768px) {
            margin: 0.5rem;
        }
    }
}

.ubicacion {
    grid-area: ubicacion;
    padding: 2rem;
    text-align: center;

    .ubicacion__titulo{
        font-size: 2rem;
    }

    iframe {
        margin: 1rem;
        box-shadow: 1px 1px 5px $sombra;
        max-width: 100%;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.boton {
    @extend .boton;
    color: $rojo;
    font-weight: 800;
    font-size: 1rem;
    border: none;

    &:hover {
        color: $blanco;
    }
}    

