ul {
    list-style: none;
}

li {
    display: inline-block;
}

.productos__titulo {
    grid-area: title;
    @extend .index__titulo;
}

.coleccion1 {
    grid-area: coleccion1;
    text-align: center;
    background-color: $negro;
    padding-bottom: 1rem;
    border-top: solid $rojo 5px;
    border-bottom: solid $rojo 5px;
    animation-duration: 1.2s;

    .titulo__contenedor {
        img {
            width: 200px;
            height: auto;
            padding: 1rem;
        }
    }

    .slidersw {
        width: 100%;

        div {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
            }
        }

        .slick-dots li button::before {
            font-size: 2rem;
            color: $rojo;
        }

        h2 {
            display: inline-block;
            text-align: center;
            padding: 0.2rem;
            margin: 0.5rem 0 0.5rem 0;
            background-color: $blanco;
            border-radius: 5px;
            color: $rojo;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.2rem;
        }

    }

    .slidercel {
        width: 100%;

        div {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
            }
        }

        .slick-dots li button::before {
            font-size: 2rem;
            color: $rojo;
        }

        h2 {
            display: inline-block;
            text-align: center;
            padding: 0.2rem;
            margin: 0.5rem 0 0.5rem 0;
            background-color: $blanco;
            border-radius: 5px;
            color: $rojo;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.2rem;
        }

    }

    i {
        color: $rojo;
        padding: 0.5rem;
    }
}

.coleccion2 {
    grid-area: coleccion2;
    text-align: center;
    background-color: $negro;
    padding-bottom: 1rem;
    border-top: solid $rojo 5px;
    border-bottom: solid $rojo 5px;
    animation-duration: 1.2s;

    .titulo__contenedor {
        img {
            width: 200px;
            height: auto;
            padding: 1rem;
        }
    }

    .slidermb {
        width: 100%;

        div {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
            }
        }

        .slick-dots li button::before {
            font-size: 2rem;
            color: $rojo;
        }

        h2 {
            display: inline-block;
            text-align: center;
            padding: 0.2rem;
            margin: 0.5rem 0 0.5rem 0;
            background-color: $blanco;
            border-radius: 5px;
            color: $rojo;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.2rem;
        }

    }

    .slidertab {
        width: 100%;

        div {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
            }
        }

        .slick-dots li button::before {
            font-size: 2rem;
            color: $rojo;
        }

        h2 {
            display: inline-block;
            text-align: center;
            padding: 0.2rem;
            margin: 0.5rem 0 0.5rem 0;
            background-color: $blanco;
            border-radius: 5px;
            color: $rojo;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.2rem;
        }

    }

    i {
        color: $rojo;
        padding: 0.5rem;
    }
}

.coleccion3 {
    grid-area: coleccion3;
    text-align: center;
    background-color: $negro;
    padding-bottom: 1rem;
    border-top: solid $rojo 5px;
    border-bottom: solid $rojo 5px;
    animation-duration: 1.2s;

    .titulo__contenedor {
        img {
            width: 200px;
            height: auto;
            padding: 1rem;
        }
    }

    .sliderpk {
        width: 100%;

        div {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
            }
        }

        .slick-dots li button::before {
            font-size: 2rem;
            color: $rojo;
        }

        h2 {
            display: inline-block;
            text-align: center;
            padding: 0.2rem;
            margin: 0.5rem 0 0.5rem 0;
            background-color: $blanco;
            border-radius: 5px;
            color: $rojo;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.2rem;
        }

    }

    .sliderpc {
        width: 100%;

        div {
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
            }
        }

        .slick-dots li button::before {
            font-size: 2rem;
            color: $rojo;
        }

        h2 {
            display: inline-block;
            text-align: center;
            padding: 0.2rem;
            margin: 0.5rem 0 0.5rem 0;
            background-color: $blanco;
            border-radius: 5px;
            color: $rojo;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.2rem;
        }

    }

    i {
        color: $rojo;
        padding: 0.5rem;
    }
}

.boton {
    display: inline-block;
    background-color: $blanco;
    padding: 0.3rem;
    margin-top: 1rem;
    border-radius: 5px;
    transition: all 0.5s;

    &:hover {
        background-color: $rojo;
        transform: scale(1.1);
    }

    a {
        color: $rojo;
        font-weight: 800;
        font-size: 1.5rem;
        transition: color 0.5s;

        &:hover {
            color: $blanco;
        }
    }
}