footer {
    grid-area: footer;
    @include flex(flex, space-around, center);
    background-color: $rojo;
    text-align: center;
    color: $blanco;
    padding: 1rem;
    border-top: solid $negro 5px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0.5rem;
    }

    h3 {
        color: $blanco;
        padding: 1rem;

        @media screen and (max-width: 768px) {
            padding: 0.8rem;
        }
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-weight: 500;
        transition: all 0.3s linear;

    }

    .footer__contacto {

        div {
            padding-bottom: 0.5rem;
        }

        p {
            display: inline-block;
            color: $blanco;

        }

        @media screen and (max-width: 768px) {
            order: 2;
        }
    }

    .footer__redes {

        li {
            list-style: none;
            display: inline-block;
            padding: 0 1rem;
        }

        @media screen and (max-width: 768px) {
            i {
                font-size: 40px;
            }

            order: 1;
        }
    }

    .footer__copyright {
        font-size: 0.8rem;
        color: $blanco;
        padding-top: 1rem;
        margin: 0.6rem;

    }

    .footer__ayuda {

        a {
            display: block;
            padding-bottom: 0.5rem;
        }

        @media screen and (max-width: 768px) {
            order: 3;
        }
    }

}