footer {
    grid-area: footer;
    @include flex(flex, space-around, center);
    background-color: $rojo;
    text-align: center;
    color: $negro;
    padding: 1rem;
    border-top: solid $negro 5px;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 0.5rem;
    }

    h3 {
        color: $negro;
        padding: 1rem;

        @media (max-width: 768px) {
            font-size: 1rem;
            padding: 0.8rem;
        }
    }

    a {
        color: $negro;
        font-weight: 500;
        transition: all 0.3s linear;

        &:hover {
            color: $blanco;
            text-decoration: none;
        }

        @media (max-width: 768px) {
            font-size: 0.8rem;
        }

    }

    .footer__contacto {

        div {
            padding-bottom: 0.5rem;
        }

        p {
            display: inline-block;
            color: $negro;

            @media (max-width: 768px) {
                font-size: 0.8rem;
            }
        }

        @media (max-width: 768px) {
            order: 2;
        }
    }

    .footer__redes {

        li {
            list-style: none;
            display: inline-block;
            padding: 0 1rem;
        }

        @media (max-width: 768px) {
            order: 1;
        }
    }

    .footer__copyright {
        font-size: 0.8rem;
        color: $negro;
        padding-top: 1rem;
        margin: 0.6rem;

        @media (max-width: 768px) {
            font-size: 0.6rem;
        }

    }

    .footer__ayuda {

        a {
            display: block;
            padding-bottom: 0.5rem;
        }

        @media (max-width: 768px) {
            order: 3;
        }
    }

}