header {
    grid-area: header;
    width: 100%;
    background-color: $rojo;
    color: $negro;
    position: sticky;
    top: 0px;
    z-index: 3;
    @include flex(flex, space-between, center);
    /* box-shadow: 1px 1px 10px $blanco; */
    border-bottom: solid $negro 5px;

    .logo__contenedor {

        @include flex(flex, space-between, center);

        .header__logo-img {
            width: 100px;
            margin: 1rem;
        }

        p {
            display: inline-block;
            color: $blanco;
            letter-spacing: 3px;
            font-size: 3rem;
            font-weight: 800;
            text-align: center;
        }

    }

    .header__navbar li {
        display: inline-block;
        margin: 0.8rem;
        padding: 0.5rem;

        i {
            margin-right: 0.5rem;
        }

        a {
            display: block;
            color: $negro;
            font-weight: 600;
            transition: all 0.3s linear;

            &:hover {
                transform: scale(1.1);
                color: $blanco;
                text-decoration: none;
            }
        }
    }
}