.sw-1-img {
    background-image: url(../images/productos/sw-darthvader.jpg);
  }
  
  .sw-2-img {
    background-image: url(../images/productos/sw-trooper.jpg);
  }
  
  .sw-3-img {
    background-image: url(../images/productos/sw-tiefighter.jpg);
  }
  
  .sw-4-img {
    background-image: url(../images/productos/sw-atat.jpg);
  }
  
  .sw-5-img {
    background-image: url(../images/productos/sw-hansolo.jpg);
  }
  
  .mb-1-img {
    background-image: url(../images/productos/mb-mario.jpg);
  }
  
  .mb-2-img {
    background-image: url(../images/productos/mb-luigi.jpg);
  }
  
  .mb-3-img {
    background-image: url(../images/productos/mb-yoshi.png);
  }
  
  .mb-4-img {
    background-image: url(../images/productos/mb-hongo.jpg);
  }
  
  .mb-5-img {
    background-image: url(../images/productos/mb-8bits.png);
  }
  
  .pk-1-img {
    background-image: url(../images/productos/pk-pikachu.jpg);
  }
  
  .pk-2-img {
    background-image: url(../images/productos/pk-bulbasaur.jpg);
  }
  
  .pk-3-img {
    background-image: url(../images/productos/pk-charizard.jpg);
  }
  
  .pk-4-img {
    background-image: url(../images/productos/pk-psyduck.jpg);
  }
  
  .pk-5-img {
    background-image: url(../images/productos/pk-gyarados.jpg);
  }
  
  .cel-1-img {
    background-image: url(../images/productos/cel-1.jpg);
  }
  
  .cel-2-img {
    background-image: url(../images/productos/cel-2.jpg);
  }
  
  .cel-3-img {
    background-image: url(../images/productos/cel-3.jpg);
  }
  
  .cel-4-img {
    background-image: url(../images/productos/cel-4.jpg);
  }
  
  .cel-5-img {
    background-image: url(../images/productos/cel-5.jpg);
  }
  
  .tab-1-img {
    background-image: url(../images/productos/tab-1.jpg);
  }
  
  .tab-2-img {
    background-image: url(../images/productos/tab-2.jpg);
  }
  
  .tab-3-img {
    background-image: url(../images/productos/tab-3.jpg);
  }
  
  .tab-4-img {
    background-image: url(../images/productos/tab-4.jpg);
  }
  
  .tab-5-img {
    background-image: url(../images/productos/tab-5.jpg);
  }
  
  .pc-1-img {
    background-image: url(../images/productos/pc-1.png);
  }
  
  .pc-2-img {
    background-image: url(../images/productos/pc-2.jpg);
  }
  
  .pc-3-img {
    background-image: url(../images/productos/pc-3.jpg);
  }
  
  .pc-4-img {
    background-image: url(../images/productos/pc-4.jpg);
  }
  
  .pc-5-img {
    background-image: url(../images/productos/pc-5.jpg);
  }