.empresa {
    padding: 2rem 2rem 0 2rem;
    grid-area: empresa;
    text-align: center;


    .empresa__titulo {
        @extend .index__titulo;
        color: $rojo;
    }

    .empresa__parrafo {
        font-size: 1.5rem;
        font-weight: 600;
        color: $negro;

        @media (max-width: 768px) {
            font-size: 1rem;
            padding: 0.5rem;
        }
    }
}

.staff {
    grid-area: staff;
    padding: 2rem;
    text-align: center;

    @media (max-width: 768px) {
        padding: 1rem 1rem 2rem 1rem;
        max-width: 100%;
    }

    .staff__titulo {
        font-size: 2rem;
        padding: 1rem;

        @media (max-width: 768px) {
            font-size: 1.5rem;
            padding: 1rem;
        }
    }

    .staff__contenido {
        display: inline-block;
        box-shadow: 1px 1px 3px $sombra;
        padding: 1rem;
        margin: 0.5rem;

        @media (max-width: 768px) {

            padding: 0.5rem;

            img {
                height: 130px;
            }

            h3 {
                font-size: 1rem;
            }
        }
    }
}

.video {
    grid-area: video;
    align-self: center;
    justify-self: center;

    @media (max-width: 768px) {
        display: none;
    }
}